*{
  box-sizing: border-box;
}

body{
  background-color: #eee;
  font-size: 16px;
}

.wrapper {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1em; /* 아이템 사이 간격 */
}

.card {
  background-color: #fff;
  border: 1px solid red;
  box-shadow: 1px 1px 10px 1px #bebebe;
}

.card > header{  /* 바로 아래에 있는 "직계 자식 요소"만 */
  font-size: 1.5rem;
  padding: 0.5rem;
}

.card > p{
  line-height: 1.6em;
  padding: 0.5rem;
}

img{
  max-width: 100%;
}
 
